extends layout
block content 
    h3 Cities List
    ul
        li
            a(href='london') London
        li 
            a(href='tokyo') Tokyo
        li 
            a(href='paris') Paris