doctype
html
    head
        title Cities 
    body 
        h1 Cities 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sed reiciendis suscipit quibusdam libero itaque, similique temporibus dolore ipsum tenetur voluptate facilis repellat eaque aspernatur. Unde nam quasi quibusdam! In!
        block content 
        br
        hr
        footer 
            h5 Copyright &copy; 2022